<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 
</head>
<body class="bg-zinc-800 text-white h-screen">
    
    
    <div class="p-4 my-4">
        <a class="inline-block p-2 mx-4 text-xl mb-8 text-blue-700 underline" href="/">Home</a>
        <form action="created" method="post">
            <input class="p-3 m-4 rounded-md outline-none bg-zinc-600 border-slate-400 border-2 " type="text" name="name" placeholder="Enter Your Name" id="">
            <input class="p-3 m-4 rounded-md outline-none bg-zinc-600 border-slate-400 border-2 " type="email" name="email" placeholder="Enter Email" id="">
            <input class="p-3 m-4 rounded-md outline-none bg-zinc-600 border-slate-400 border-2 " type="password" name="password" placeholder="Create Password" id="">
            <input class="p-3 m-4 rounded-md outline-none bg-zinc-600 border-slate-400 border-2 " type="number" name="age" placeholder="Enter Age" id="">
            <input class="p-3 m-4 rounded-md outline-none text-xl bg-blue-600 " type="submit" value="Create Account">
        </form>
    </div>


</body>
</html>